.hdr-log-in-btn {
    width: 150px;
    height: 36px;
    border: 0px;
    background: #1D8FBD;
    color: #fff;
    font-size: 16px;
}

.hdr-log-in-btn:hover,
.hdr-log-in-btn:focus,
.hdr-log-in-btn:active,
.sportsmen-registration-btn:hover,
.sportsmen-registration-btn:focus,
.sportsmen-registration-btn:active {
    border: 1px solid #1D8FBD;
    background: #fff;
    color: #2F2929;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sportsmen-registration-btn {
    display: inline-block;
    position: relative;
    right: -25%;
    width: 50%;
    @media screen and (min-width: 400px) {
        right: -55%;
    }
    @media screen and (min-width: 700px) {
        right: -65%;
        width: 35%;
    }
}
