.bread-crumbs {
    display: flex;
}

.bread-crumbs-item {
    margin-right: 15px;
}
.bread-crumbs-img {
    width: 12px;
    margin-top: 5px;
}
.bread-crumbs-comp-page {
    display: flex;
    margin-left: 25px;
    margin-bottom: 25px; 
}