.bread-crumbs {
    position: relative;
    display: flex;
    background: #fff;
    padding-left: 5px;
    padding-top: 3px;
    height: 45px;
    width: auto;
    border-bottom: 1px solid white ;

    font-size: 13px;
    @media screen and (min-width: 900px) {
        font-size: 15px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 17px;
    }
}

.bc-department-img {
    display: inline-block;
    width:  50%;
    height: 70%;
    padding-top: 10px;
    padding-bottom: 0%;
    margin: 0;
    white-space: nowrap;
}

.bc-arrow {
    display: inline-block;
    width:  auto;
    height: 100%;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.bc-link {
    text-decoration: none;
}

.bc-text {
    padding: 0;
    padding-top: 5%;
}

.bc-dp-block {
    display: block;
    width:  60px;
    height: 40px;
    text-align: center;
    background: #2196F3;
    color: white;
}

.bc-block {
    position: relative;
    cursor: pointer;
    display: block;
    width:  auto;
    height: 40px;
    padding: 0px;
    margin: 0;
    border: none;
    outline: none;
    transition: 0.3s;
    text-align: center;

    background: #2196F3;
    color: white;
}

.bc-selected {
    background: #fff;
    color: black;
    border-top: 2px solid #2196F3;
    border-bottom: 2px solid #2196F3;
}