.bread-crumbs {
    display: flex;
}

.bread-crumbs-item {
    margin-right: 15px;
}
.bread-crumbs-img {
    width: 12px;
    margin-top: 5px;
}
.bread-crumbs-comp-page {
    display: flex;
    background: #2196f3;
    padding-left: 282px;
    margin-left: 4px;
}