
.input-to-choose-type[type=checkbox] { display: none; }
.label-to-choose-type {
    position: relative;
    height: 38px; 
    line-height: 36px; 
    margin: 4px; 
    padding: 0px 8px 0px 8px;
    display: inline-block; 
    cursor: pointer;
    border: 1px solid #aaa; 
    border-radius: 5px;
    font-family: helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
    background: #ced7df;
    color: black;
}
.label-to-choose-type::before {
    content: ''; position: absolute;
    top: 0px; right: 32px;
    height: 36px; width: 2px;
}
.label-to-choose-type::after {
    display: inline-block; border-radius: 4px;
    height: 26px; line-height: 26px; width: 24px;
}
.input-to-choose-type[type=checkbox]:checked + .label-to-choose-type {
    border: 1px solid #2196f3;
    color: #ffffff;
    background: #2196f3;
}
.input-to-choose-type[type=checkbox]:checked + .label-to-choose-type::after {
    border: 1px solid #2196f3; 
    background-color: #2196f3;
    color: #fff;
}
//comp-statistics-main-admition-checkbox
.input-to-choose-type--admition[type=checkbox] { display: none; }
.label-to-choose-type--admition {
    position: relative;
    width: 200px;
    height: 50px; 
    line-height: 36px; 
    margin-right: 40px; 
    padding: 8px 8px 0px 62px;
    display: inline-block; 
    cursor: pointer;
    border: 0;
    border-radius: 0;
    font-family: helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
    background: red;
    color: black;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 120px;
        height: 30px;
        padding: 0px 8px 0px 27px;
        font-size: 16px;
      }
}
.label-to-choose-type--admition::before {
    content: ''; 
    position: absolute;
    top: 0px; 
    right: 32px;
    height: 36px; 
    width: 2px;
}
.label-to-choose-type--admition::after {
    display: inline-block; 
    border-radius: 0px;
    height: 26px; 
    line-height: 26px; 
    width: 24px;
}
.input-to-choose-type--admition[type=checkbox]:checked + .label-to-choose-type--admition {
    border: 0;
    color: #ffffff;
    background:green;
}
.input-to-choose-type--admition[type=checkbox]:checked + .label-to-choose-type--admition::after {
    border: 0; 
    background-color: green;
    color: #fff;
}