
  .new-member-pop-up {
    //position: relative;
    //background-color: $white-color;
    width: 525px;
   //padding: 20px;
  }
  .new-member-pop-up-mf {
    margin-left: 8px;
}
.new-member-pop-up-input {
    width: 480px;
    height: 32px;
    border: none;
    margin-left: 15px;
}
.new-member-pop-up-field {
    width: 500px;
    height: 34px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    border-style: dashed;
}
.new-member-pop-up-field:active,
.new-member-pop-up-field:focus,
.new-member-pop-up-field:hover {
    border-bottom: 1px solid #2196f3;
}
.new-member-pop-up-check {
    width: 630px;
    height: 50px;
    margin-top: 15px;
}
.new-member-pop-up-check {
    margin-right: 60px;
}
.new-member-pop-up-check-gender {
display: inline;
margin-right: 45px;
}
.new-member-pop-up-check-qual,
.new-member-pop-up-check-team {
        width: 342px;
        border-radius: 0px;
        background: white;
        border: 1px solid #dfdfdf;
        height: 54px;
        margin-top: 9px;
}
.new-member-pop-up-check-team {
    width: 323px;
}
.new-member-pop-up-check-qual:hover,
.new-member-pop-up-check-qual:active,
.new-member-pop-up-check-qual:focus,
.new-member-pop-up-check-team:hover,
.new-member-pop-up-check-team:active,
.new-member-pop-up-check-team:focus {
    border: 1px solid #2196f3;
}