.create-ng--interval{
    display: flex;
  }
  .create-ng--interval-min, 
  .create-ng--interval-max {
    width: 50px;
  }
  .create-ng-option{
    color: $assent-color;
    font-size: 19px;
  }
  .create-ng-field-name{
  color: $logo-color;
    font-size: 17px;
  }