.new-member-pop-up-mf {
    margin-left: 5px;
}
.new-member-pop-up-input {
    width: 630px;
    height: 32px;
    border: none;
    margin-left: 15px;
}
.new-member-pop-up-field {
    width: 650px;
    height: 34px;
    border: 1px solid;
    margin-bottom: 10px;
}
.new-member-pop-up-field:active,
.new-member-pop-up-field:focus,
.new-member-pop-up-field:hover {
    border: 1px solid #2196f3;
}
.new-member-pop-up-check {
    width: 630px;
    height: 50px;
    margin-top: 15px;
}
.new-member-pop-up-check {
    margin-right: 60px;
}
.new-member-pop-up-check-gender {
display: inline;
margin-right: 45px;
}

