.input-criteria-container {
    height: 50px;
    position: relative;
    width: 100%;
    margin-left: 12px;
  }
  
  .ic1-cpl {
    margin-top: 40px;
    margin-left: 12px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input,
  .input_cpl-auto-sort-criteria--dist,
  .input_cpl-auto-sort-criteria--age,
  .input_cpl-auto-sort-criteria--weight,
  .input_cpl-auto-sort-criteria--final {
    background-color: #fff;
    border-radius: 0px;
    color: #605f5f;
    outline: 0;
    font-size: 18px;
    height: 100%;
    outline: 0;
    width: 100%;
    height: 34px;
    padding: 4px 51px 0;
    border: 1px solid #dfdfdf;
    height: 50px;
  }
  .input_cpl-auto-sort-criteria--dist {
      width: 887px;
      padding: 4px 25px 0;
  }
  .input_cpl-auto-sort-criteria--age,
  .input_cpl-auto-sort-criteria--weight,
  .input_cpl-auto-sort-criteria--final {
      width: 430px;
  }
  
  .cut {
    //background-color: #f4f4f4;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    left: 55px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-40px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #2196f3;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }