.dynamic-table {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 99%;
    margin-bottom: 10px;
  }

  .dynamic-table tr {
    height: 45px;
  }
  .dynamic-table tr:nth-child(even) {
    background-color: #c9e6ff;
  }
  
  .dynamic-table tr:hover {
    background-color: aliceblue;
  }

  
  .dynamic-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $assent-color;
    color: white;
    border: 1px solid #ddd;
  }
  .added-section-table {
    margin-top: 20px;
    width: 600px;
  }
  .dynamic-table-th--selected { 
    border: 2px solid #2196f3;
   }
   .dynamic-table-th--selected:hover {
    border: 2px solid #2196f3;
   }