.common-table-for-modal {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    max-height: 600px;
  min-height: auto;
    width: 100%;
  }
  .common-table-for-modal th,
  .common-table-for-modal td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .common-table-for-modal tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .common-table-for-modal tr:hover {
    background-color: #ddd;
  }
  
  .common-table-for-modal th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $assent-color;
    color: white;
  }
  