.page-header {
  background: rgb(20,153,246);
  background: linear-gradient(0deg, rgba(20,153,246,0.41778718323266806) 0%, rgba(255,255,255,1) 6%);

    @include for-size(mobile) {
        margin-bottom: 0px; 
      }
    
      @include for-size(tablet) {
        margin-bottom: 20px; 
      }
    
      @include for-size(desktop) {
        margin-bottom: 30px; 
      }
  
      @include for-size(max-desktop) {
        margin-bottom: 30px; 
      } 
  }
  .page-header .flexbox {
    justify-content: flex-end;
    align-items: center;
  }
  .header-border {
      width: 100%;
    border-bottom: 1px solid #ececec;

    @include for-size(mobile) {
        margin-bottom: 10px; 
      }
    
      @include for-size(tablet) {
        margin-bottom: 20px; 
      }
    
      @include for-size(desktop) {
        margin-bottom: 30px; 
      }
  
      @include for-size(max-desktop) {
        margin-bottom: 30px; 
      }
  }