.hdr-header {
  background: rgb(20,153,246);
  background: linear-gradient(0deg, rgba(20,153,246,0.41778718323266806) 0%, rgba(255,255,255,1) 6%);
  margin-bottom: 0px;

  @include for-size(mobile) {
    height: 280px;
  }
  @include for-size(tablet) {
    height: fit-content;
  }
  @include for-size(desktop) {
    height: fit-content; 
  }
  @include for-size(max-desktop) {
    height: fit-content;
  } 
}

.hdr-header .flexbox {
  justify-content: space-between;
  align-items: center;
}

.hdr-logo {
  width: 265px;
  height: 65px;
  @include for-size(mobile) {
    padding-right: 10px;
  }
  @include for-size(tablet) {
    padding-right: 10px;
  }
  @include for-size(desktop) {
    padding-right: 50px; 
  }
  @include for-size(max-desktop) {
    padding-right: 60px;
  }
}
.hdr-page-name {
  text-align: center;
  @include for-size(mobile) {
    padding-left: 10px;
  }
  @include for-size(tablet) {
    padding-left: 10px;
  }
  @include for-size(desktop) {
    padding-left: 50px; 
  }
  @include for-size(max-desktop) {
    padding-left: 60px;
  } 
}
.hdr-client-info-container {
  width: 300px;
  height: 17vh;
}

.hdr-lang-container {
  position: absolute;
  width: 100px;
  @include for-size(mobile) {
    top: 185;
    left: 5vw;
  }
  @include for-size(tablet) {
    top: 20px;
    left: 67vw;
  }
  @include for-size(desktop) {
    top: 20px;
    left: 72vw;
  }
  @include for-size(max-desktop) {
    top: 20px;
    left: 72vw;
  }
}

.hdr-lang-select {
  width: 100px;
}

.hdr-lang-name {
  position: relative;
  top: -10px;
  font-size: 17px;
  width: 100px;
  padding-bottom: 16px;
}

.hdr-lang-image {
  display: inline-block;
  height: 40px;
}

.select2-selection__rendered {
  position: absolute !important;;
  left: 0px !important;
  line-height: 45px !important;
  width: 100px !important;
}
.select2-container .select2-selection--single {
  position: absolute !important;
  left: 0px !important;
  height: 45px !important;
  width: 100px !important;
}
.select2-selection__arrow {
  position: absolute !important;
  left: 0px !important;
  height: 45px !important;
  width: 100px !important;
}
.select2-selection__arrow {
  left: 35px !important;
}

.hdr-client-profile {
  position: absolute;
  display: inline-block;
  width: 200px;
  @include for-size(mobile) {
    top: 190px;
    left: 40vw;
  }
  @include for-size(tablet) {
    top: 10px;
    left: 81vw;
  }
  @include for-size(desktop) {
    top: 10px;
    left: 81vw;
  }
  @include for-size(max-desktop) {
    top: 10px;
    left: 81vw;
  }
}

.hdr-clt-info-list {
  display: flex;
}

.hdr-clt-info-item {
  margin-left: 4px;
  margin-right: 2px;
  margin-top: 10px;
}

.hdr-login-btn-container {
  margin-top: 5px;
  margin-right: 15px;
}

.hdr-log-in-btn {
  border: 0px;
  width: 150px;
  height: 36px;
  border: 0px;
  background: #1D8FBD;
  color: #fff;
  font-size: 16px;
}

.hdr-clt-avatar {
  display: flex;
}

$photo-size: 65px;

.hdr-clt-avatar-icon {
  border-radius: 50%;
  width: $photo-size;
  height: $photo-size;
  margin-top: 0px;
  margin-right: 10px;
}

.hdr-avatar-img-cut {
  position: relative;
  display: inline-block;
  width: $photo-size;
  height: $photo-size;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #777777;
}

.hdr-avatar-photo{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.hdr-clt-avatar-text {
  margin-top: -8px;
  color: #2f2929;
  font-size: 17px;
  A {
    text-decoration: none;
    color: #000 !important;
  }
}

.hdr-avatar-status {
  font-size: 14px;
}

