.page-header {
  height: 100px;
  background: rgb(20,153,246);
  background: linear-gradient(0deg, rgba(20,153,246,0.41778718323266806) 0%, rgba(255,255,255,1) 6%);

    @include for-size(mobile) {
        margin-bottom: 0px; 
      }
    
      @include for-size(tablet) {
        margin-bottom: 20px; 
      }
    
      @include for-size(desktop) {
        margin-bottom: 30px; 
      }
  
      @include for-size(max-desktop) {
        margin-bottom: 30px; 
      } 
  }
  .page-header .flexbox {
    justify-content: space-between;
    align-items: center;
  }
  .header-border {
      width: 100%;
    border-bottom: 1px solid #ececec;

    @include for-size(mobile) {
        margin-bottom: 10px; 
      }
    
      @include for-size(tablet) {
        margin-bottom: 20px; 
      }
    
      @include for-size(desktop) {
        margin-bottom: 30px; 
      }
  
      @include for-size(max-desktop) {
        margin-bottom: 30px; 
      }
  }

  .header-list {
    display: flex;
    justify-content: space-between;
}
.header-item {
    margin-left: 4px;
    margin-right: 2px;
    margin-top: 5px;
}
.header__account-avatar {
  display: flex;
}
.header__account-icon {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 30px;
  fill: #777777;
}
.header__account-avatar-icon {
border-radius: 50%;
width: 36px;
height: 35px;
margin-top: 2px;
margin-right: 30px;
}
.header__account-avatar-text {
  color: #2f2929;
}
.account-status {
  font-size: 11px;
}
.account-avatar-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.img-cover {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.header__account-avatar-icon.img-cover {
  border: 1px solid #777777;
  }