.lp-list-num-round {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 32px;
}
.lp-group-name {
    font-size: 28px;
    color: #295e84;
    text-align: center;
}