.login-form{
    width: 100%;
    height: 600px;
    background-color: $bg-color;
    border: 1px solid $main-text-color;
}
.log-in-btn {
    border: 0px;
background: #fff;
color: #1d8fbd;
font-size: 16px;
}
.log-in-btn--placing {
    margin-top: 45px;
    margin-right: 15px;
}