.add-group-pop-up--input::-webkit-input-placeholder { color: #bebebe; }
.add-group-pop-up--input:-ms-input-placeholder { color: #bebebe; }
.add-group-pop-up--input::-ms-input-placeholder { color: #bebebe; }
.add-group-pop-up--input::placeholder { color: #bebebe; }