.tabs-bar {
    display: inline-block;
    background-color: #0077ff;
    min-width: 15%;
    max-width: 15%;
    min-height: 100vh;
}
.tab-old {
    color: white;
    background-color: #0077ff;
    width: 100%;
    height: 50px;
    font: 2em sans-serif;
    border: 0px;
}
.tab_selected {
    color: black;
    background-color: white;
    width: 100%;
    height: 50px;
    font: 2em sans-serif;
    border: 0px;
}

.tab {
    float: left;
    //border: 1px solid #ccc;
    background-color: #2196F3;
    width: 15%;
    height: 100vh;
}



/* Style the buttons inside the tab */
.tab button,
.tab div {
    position: relative;
    cursor: pointer;
    display: block;
    background-color: inherit;
    
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    border-bottom: 1px solid white ;
    color: white;

    font-size: 12px;
    padding: 22px 2px;
    @media screen and (min-width: 900px) {
        font-size: 15px;
        padding: 22px 16px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 17px;
        padding: 22px 16px;
      }
}
.tab button::before {
    content: 'I';
    color: rgba(255, 255, 255, 0);

    position: absolute;
    left: 99%;
    top: -9px;

    width: 10px;

    padding: 30px 0px;
    font-size: 13px;
    @media screen and (min-width: 900px) {
        font-size: 15px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 17px;
      }

    background-image: url(../img/tab_traingle.svg);
    display: none;
  }

  .tab button:hover::before,
  .tab button.active::before{
    display: block;
  }

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #fff;
    color: black;
    border: 1px solid #2196F3;
    border-right: 0px solid #ffffff00;
    border-top: 0px solid #ffffff00;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #fff;
    color: black;
    border: 0px solid #ffffff00;
}

/* Style the tab content */
.tabcontent {
    float: left;
    width: 85%;
    border-left: none;
    padding: 0px 12px;

    @include for-size(mobile) {
      padding-right: 0px;
    }
    @include for-size(tablet) {
    }
    @include for-size(desktop) {
    }
    @include for-size(max-desktop) {
    }
}
.tabcontent-sort {
    float: left;
    padding: 60px 12px;
    width: 85%;
    border-left: none;
}