.creating-pairs-list-name {
    position: absolute;
    margin-left: 130px;

    @media screen and (min-width: 1200px) and (max-width: 1799px) {
        margin-left: 180px;
      }

    @media screen and (min-width: 1800px) {
        margin-left: 270px;
      }
}
.pairs-list-name--title {
    font-size: 26px;
    color: #295e84;
}
.cp-list--input {
    width: 350px;
    height: 35px;
    border: 1px solid gray;
    border-radius: 0px;
}
.cp-list--input:hover,
.cp-list--input:active,
.cp-list--input:focus {
    border: 1px solid #2196f3;
}
.cp-list--input-name {
    border: transparent;
    width: 300px;
    height: 33px;
    margin-left: 15px;
}
.cp-list--btn {
    margin-top: -19px;
    margin-left: 400px;
}
.cpl-manual-sorting {
    display: flex;
    width: 900px;
    justify-content: space-around;
    margin-top: 15px;
}
.cpl-manual-sorting--item {
    width: 200px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 0px;
}
