.creating-pairs-list-name {
    position: relative;
    margin-left: 130px;

    @media screen and (min-width: 1200px) and (max-width: 1799px) {
        margin-left: 193px;
      }

    @media screen and (min-width: 1800px) {
        margin-left: 282px;
      }
}
.pairs-list-name--title {
    font-size: 26px;
    color: #295e84;
}
.cp-list--input {
    width: 555px;
    height: 35px;
    border: 1px solid gray;
    border-radius: 0px;

    @media screen and (min-width: 1200px) {
        width: 820px;
      }
}
.cp-list--input:hover,
.cp-list--input:active,
.cp-list--input:focus {
    border: 1px solid #2196f3;
}
.cp-list--input-name {
    border: transparent;
    width: 520px;
    height: 33px;
    margin-left: 15px;

    @media screen and (min-width: 1200px) {
        width: 800px;
      }
}
.cp-list--btn {
    margin-top: -19px;
    margin-left: 592px;

    @media screen and (min-width: 1200px) {
        margin-left: 870px;
      }
}
.cpl-manual-sorting,
.cpl-automatic-sorting {
    display: flex;
    //width: 900px;
    //justify-content: space-around;
    margin-top: 15px;
    margin-left: 5px;

    @media screen and (min-width: 1200px) {
        margin-left: 15px;
      }
}
.cpl-manual-sorting--item,
.cpl-automatic-sorting--item {
    width: 360px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 0px;
    padding: 4px;
    margin-top: 2px;

    //@media screen and (min-width: 1200px) {
    //    width: 355px;
    //  }
}
.cpl-automatic-sorting--item__active {
    margin-left: 10px;
}
.cpl-automatic-sorting--item__unactive {
    margin-left: -10px;
}
.cpl-manual-sorting--item:hover,
.cpl-manual-sorting--item:focus,
.cpl-automatic-sorting--item:hover,
.cpl-automatic-sorting--item:focus {
    border: 1px solid #2196f3;
    
}

.cpl-automatic-sorting--item:hover .unactive-groups-list--item-btn,
.cpl-automatic-sorting--item:focus .unactive-groups-list--item-btn {
    color: #295e84;
}
.cpl-manual-sorting-arrow-btn,
.cpl-automatic-sorting-arrow-btn {
    width: 50px;
    height: 30px;
    margin-top: 15px;
    margin-left: 65px;
  transform: translateX(-50%) translateY(-50%);
  background-color: $white-color;
  border: none;
  fill: $assent-color;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.06em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  outline-width: 0px;
}
.cpl-manual-sorting-arrow-btn:hover,
.cpl-manual-sorting-arrow-btn:focus,
.cpl-automatic-sorting-arrow-btn:hover,
.cpl-automatic-sorting-arrow-btn:focus {
  background-color: $assent-color;
  border: none;
  fill: $white-color;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  outline-width: 0px;
}
.cpl-auto-sort-arrows-btn {
    margin-top: 200px;
}
.cpl-sorting-first-column {
    margin-right: 70px;
}
.cpl-sorting-second-column {
margin-left: 20px;
}
.cpl-auto-sort-criteria-list {
    margin-top: 25px;
    margin-bottom: 30px;
}
.cpl-auto-sort-criteria {
    display: flex;
    margin-top: 20px;
    margin-left: 5px;
    @media screen and (min-width: 1200px) {
        margin-left: 0px
      }
}
.cpl-auto-sort-criteria-title {
    font-size: 18px;
    color: #295e84;
}
.cpl-auto-sort-criteria--item{
    margin-bottom: -25px;
    margin-right: 15px;
}
.cpl-auto-sort-criteria-mg {
    margin-right: 35px;
}
.cpl-auto-sort-criteria--item-input {
    width: 100px;

    @media screen and (min-width: 1200px) {
        width: 250px;
      }
}
.cpl-auto-sort-list,
.cpl-auto-manual-list {
    width: 380px;
    border: 1px solid grey;
    margin-top: 20px;
    height: 360px;
    overflow: auto;
}
//.cpl-automatic-sorting {
//    width: 45%;
//}
.cpl-auto-sort-arrows {
    width: 10%;
    @media screen and (min-width: 1200px) and (max-width: 1799px) {
        margin-right: 35px;
      }
    @media screen and (min-width: 1800px) {
        margin-right: 0px;
    }
}
.cpl-auto-sort-list-title {
    margin-top: 45px;
    font-size: 18px;
    color: #295e84;
}
.cpl-sorting-btn {
    border: 1px solid #2196f3;
    background: #2196f3;
    width: 300px;
    height: 50px;
    margin-bottom: 40px;
    margin-top: 30px;
    margin-left: 12px;
    color: white;
    font-size: 18px;
}
.cpl-sorting-btn:focus,
.cpl-sorting-btn:hover {
    background: white;
    color: #2196f3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.unactive-groups-list,
.active-groups-list {
    margin-top: 20px;
}
.unactive-groups-list--item-btn,
.active-groups-list--item-btn {
    border: none;
    background: none;
    color: #65657b;
    font-size: 16px;
}