.group-info{
    display: flex;
    margin-top: 20px;
  }
  .group-info-main{
    width: 320px;
    border: 2px solid;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 270px;
    }
    @media screen and (min-width: 1200px) and (max-width: 1799px) {
      width: 320px;
    }
    @media screen and (min-width: 1800px) {
      width: 320px;
    }
  }
  .group-info-tables{
    width: 100%;
  }
  .group-info-title {
    margin-top: 20px;
  margin-left: 25px;
    font-size: 30px;
    color: $assent-color;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-top: 15px;
      font-size: 24px;
    }
    @media screen and (min-width: 1200px) and (max-width: 1799px) {
      width: 320px;
    }
    @media screen and (min-width: 1800px) {
      width: 320px;
    }
  }
  .group-info-title--siting{
    display: flex;
    justify-content: space-between;
  }
  .group-info-fields{
    margin-left: 25px;
  }
  .group-info-fields--item {
    display: flex;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .group-page-header {
display: block;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      justify-content: space-between;
    }
    @media screen and (min-width: 1200px) and (max-width: 1799px) {
      display: flex;
      justify-content: space-between;
    }
    @media screen and (min-width: 1800px) {
      display: flex;
      justify-content: space-between;
    }
  }
  

  .runner {
    float: left;
    margin-top: 40px;
  }

  .main-tables-group-item {
    width: 320px;
    margin-top: 10px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 240px;
      margin-left: 7px;
      margin-top: 0px;
    }
    @media screen and (min-width: 1200px) and (max-width: 1799px) {
      width: 420px;
      margin-left: 10px;
      margin-top: 0px;
    }
    @media screen and (min-width: 1800px) {
      width: 715px;
      margin-left: 15px;
      margin-top: 0px;
    }
  }