.login-page {
    background-color: #a3d7fc;
    padding-top: 5px;
    margin-top: -20px;
height: 1000px;

  @media screen and (min-width: 1200px) {
    padding-top: 5px;
    margin-top: -30px;
  }

}

.login-page-btn {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.login-page-input-submit{
    display: flex;
width: 350px;
height: 70px;
margin-right: auto;
margin-left: auto;
margin-top: 30px;

border: 1 px solid #e5e5e5;

font-size: 16px;
text-align: center;
letter-spacing: 0.06em;
-webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
outline-width: 0px;
}

.login-page-btn-submit{
    display: flex;
width: 436px;
height: 70px;
margin-right: auto;
margin-left: auto;
margin-top: 30px;
margin-bottom: 20px;
background-color: #2196f3;
border: none;
color: #fff;
font-size: 16px;
text-align: center;
letter-spacing: 0.06em;
-webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
outline-width: 0px;
}

.login-page-btn-submit:focus, .login-page-btn-submit:hover {
    background-color: #fff;
    color: #2196f3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.login-page-title{
    text-align: center;
}
.login-page-popup-title {
    font-size: 26px;
    color: #2196f3;
}
