.new-member-field {
    display: block;
  }
  .new-member-gender-list, 
  .new-member-permit-list,
  .nm-more-than-one-list {
    display: flex;
  }
  .new-member-gender-item, 
  .new-member-permit-item,
  .nm-more-than-one-item {
    display: inline;
    width: 80px;
    margin-right: 25px;
  }
  .new-member-qualification{
    display: block;
  }
  .main-tables-member-item {
    width: 320px;
    margin-top: 10px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 480px;
      margin-left: 7px;
      margin-top: 0px;
    }
    @media screen and (min-width: 1200px) and (max-width: 1799px) {
      width: 860px;
      margin-left: 10px;
      margin-top: 0px;
    }
    @media screen and (min-width: 1800px) {
      width: 1455px;
      margin-left: 15px;
      margin-top: 0px;
    }
  }
  .member-info {
    display: flex;
    margin-top: 20px;
  }
  .column-for-button{
    position: relative;
    width: 85px;
  }
.member-page-btn-del {
  width: 200px;
  margin-left: auto;
  margin-right: auto;

}  

.member-info-title--siting{
  display: block;
  justify-content: space-between;
}

.member-info-title {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 25px;
    font-size: 30px;
    color: $assent-color;
  width: 320px;
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 595px;
    margin-top: 15px;
    font-size: 24px;
  }
  @media screen and (min-width: 1200px) and (max-width: 1799px) {
    width: 975px;

  }
  @media screen and (min-width: 1800px) {
    width: 1484px;
  }
}